{% extends 'base.html' %}


{% block conteudo %}


   <div class="container">
	<div class="row" style="margin-top:20px;" id="listroot">
		<div class="col-md-8">
			<h2>Trabalho Desenvolvido `a disciplina de Sistemas em Internet II</h2>
            <h6>Professor:<Strong> Fellipe Henrique </Strong></h6>
            <h6>Desenvolvido por <Strong> Luiz Junio </Strong></h6>
		</div>
		<div class="col-md-4">
			<h2>
				<a class="btn btn-lg btn-block btn-primary" data-toggle="modal" href="http://getbootstrap.com/components/">Ir para Bootstrap Components</a>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<h2>Bibliografia <small>Ferramentas envolvidas</small></h2>
		</div>
		<div class="col-md-2">

			</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<table class="table table-striped table-bordered">
			<thead>
			  <tr>
			    <th class="col-md-2">Ferramenta</th>
			    <th class="col-md-5">Descrição</th>
			    <th class="col-md-4 hidden-xs">URL</th>
			    <th class="col-md-1">View</th>
			  </tr>
			</thead>
			<tbody>
		  				  					<tr>
					<td>
												Python
					</td>
					<td>
						Python é uma linguagem de programação de alto nível, interpretada, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991. Atualmente possui um modelo de desenvolvimento comunitário, aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation. Apesar de várias partes da linguagem possuírem padrões e especificações formais, a linguagem como um todo não é formalmente especificada.
					</td>
					<td style="overflow:auto;" class="hidden-xs">
						<a href="https://www.python.org/" target="_blank" title="Bootstrap itself">https://www.python.org/</a>
                                    <br><br><br><br><br><br><br><br>
                                    <div class="col-md-2">
			                        <h2>
			                        	<a href="#listroot" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-up"></span> to top</a>
		                        	</h2>
		</div>
					</td>
					<td>
						<a class="btn btn-block btn-info" href="https://www.python.org/" target="_blank">Go</a>
					</td>
				</tr>
			    	<tr>
					<td>
												Bootstrap
					</td>
					<td>
						Bootstrap é uma livre coleção de ferramentas para a criação de sites e aplicações web . Ele contém HTML e CSS modelos de design baseados para tipografia , formas, botões, navegação e outros componentes da interface, bem como opcionais JavaScript extensões. Em junho de 2014, foi o projeto No.1 no GitHub , com mais de 73.000 estrelas e uma base de usuários que inclui MSNBC e NASA
					</td>
					<td style="overflow:auto;" class="hidden-xs">
						<a href="http://getbootstrap.com/2.3.2/" target="_blank" title="Bootstrap SASS">http://getbootstrap.com/2.3.2/</a>
                                 <br><br><br><br><br><br>
                                    <div class="col-md-2">
			                        <h2>
			                        	<a href="#listroot" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-up"></span> to top</a>
		                        	</h2>
					</td>
					<td>
						<a class="btn btn-block btn-info" href="http://getbootstrap.com/2.3.2/" target="_blank">Go</a>
					</td>
				    </tr>

                    <tr>
					<td>
												Django
					</td>
					<td>
						Django é um framework para desenvolvimento rápido para web, escrito em Python, que utiliza o padrão MTV (model - template - view). Foi criado originalmente como sistema para gerenciar um site jornalístico na cidade de Lawrence, no Kansas. Tornou-se um projeto de código aberto e foi publicado sob a licença BSD em 2005. O nome Django foi inspirado no músico de jazz Django Reinhardt.

Django utiliza o princípio DRY (Don't Repeat Yourself), onde faz com que o desenvolvedor aproveite ao máximo o código já feito, evitando a repetição.
					</td>
					<td style="overflow:auto;" class="hidden-xs">
						<a href="https://www.djangoproject.com/" target="_blank" title="Bootstrap SASS">https://www.djangoproject.com/</a>
                                 <br><br><br><br><br><br><br><br><br>
                                    <div class="col-md-2">
			                        <h2>
			                        	<a href="#listroot" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-up"></span> to top</a>
		                        	</h2>
					</td>
					<td>
						<a class="btn btn-block btn-info" href="https://www.djangoproject.com/" target="_blank">Go</a>
					</td>
				    </tr>
			    </tbody>
		</table>
		</div>
	</div>
		<hr id="2">


{% endblock %}