{% extends 'base.html' %}


{% block conteudo %}
<div id="wrap" >



        <div class="container">

            <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
             <a href="http://127.0.0.1:8000/homepage/"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></a>
              <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span>Cadastro de Contatos</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="well">
                                             <form class="form-horizontal" method="post" name="ContatoForm" ACTION="">
                                                    {% csrf_token %}
                                                        <fieldset>
                                                            {% for field in form %}
                                                                {% if field.errors %}
                                                                    <div class="control-group error">
                                                                        <label class="control-label">{{ field.label }} </label>
                                                                        <div class="controls">{{ field }}
                                                                            <span class="help-inline">
                                                                                <b>
                                                                                {% for error in  field.errors %}{{ error }}{% endfor %}
                                                                                </b>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="control-group">
                                                                        <label class="control-label">{{ field.label }}</label>
                                                                        <div class="controls">{{ field }}
                                                                            {% if field.help_text %}
                                                                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                                                            {% endif %}

                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </fieldset>

                                                        <p><br>
                                                        <div class="form-actions">
                                                            <input type="submit"  class="btn btn-success btn-block" value="Confirmar">
                                                         </div>
                                                     </form>


                      </div>
                  </div>

              </div>
          </div>
      </div>
    </div>

        </div> <!-- fim container principal -->



</div>

{% endblock %}