{% extends 'base.html' %}


{% block conteudo %}


   <div class="container">
	<div class="row" style="margin-top:20px;" id="listroot">
		<div class="col-md-8">
			<h2>Trabalho Desenvolvido `a disciplina de Sistemas em Internet II</h2>
            <h6>Professor:<Strong> Fellipe Henrique </Strong></h6>
            <h6>Desenvolvido por <Strong> Luiz Junio </Strong></h6>
		</div>

	</div>

    <br><br><br>
        <div class="col-md-6">
    Obs. do Aluno: Dá-se destaque ao layout do site e ,quanto à sua parte funcional, ao cadastro de produtos e contatos incluindo
a pesquisa por registros em ambos.
            </div>


{% endblock %}