{% extends 'base.html' %}


{% block conteudo %}


   <div class="container">
	<div class="row" style="margin-top:20px;" id="listroot">
		<div class="col-md-8">
			<h2>Trabalho Desenvolvido `a disciplina de Sistemas em Internet II</h2>
            <h6>Professor:<Strong> Fellipe Henrique </Strong></h6>
            <h6>Desenvolvido por <Strong> Luiz Junio </Strong></h6>
		</div>
		<div class="col-md-4">
			<h2>
				<a class="btn btn-lg btn-block btn-primary" data-toggle="modal" href="http://getbootstrap.com/components/">Ir para Bootstrap Components</a>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2><small>Filter resources by a keyword:</small></h2>
			<input class="form-control" id="search" placeholder="Type a keyword" type="text">
		</div>
		<div class="col-md-4">
			<h2><small>Found this list useful? Share and give a tip</small></h2>
			<iframe style="width: 135px; height: 28px;" data-twttr-rendered="true" title="Twitter Tweet Button" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" src="http://platform.twitter.com/widgets/tweet_button.2dbfc52aff624254c17d0ae518d60e15.en.html#_=1417598371146&amp;count=horizontal&amp;hashtags=bootstrap&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fbootsnipp.com%2Fresources&amp;size=l&amp;text=Collection%20of%20resources%20for%20Twitter%20Bootstrap%20%40twbootstrap%20%20%23twbootstrap&amp;url=http%3A%2F%2Fbootsnipp.com%2Fresources&amp;via=bootsnipp" allowtransparency="true" scrolling="no" id="twitter-widget-0" frameborder="0"></iframe>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<iframe style="border: 0; margin: 0; padding: 0;" src="https://www.gittip.com/msurguy/widget.html" height="22pt" width="48pt"></iframe>
		</div>
		<div class="col-md-4">
			<br>
			<div id="carbonads-container">
	<div class="carbonad" style="width:100%;">
        <div id="azcarbon"><span><span class="carbonad-image"><a href="http://www.launchbit.com/taz/9533-5276-111/" target="_blank"><img src="https://launchbit.com/taz-i/5276-toptal_bsa.png" class="carbonad-image carbonad-img" border="0" height="100" width="130"></a></span><span class="carbonad-text"><a href="http://www.launchbit.com/taz/9533-5276-111/">Ridiculous Developers We destroy mediocrity. Hire an elite engineer with TopTal.</a></span><span class="carbonad-tag">ads via <a href="http://carbonads.com">Carbon</a></span><img style="display: none;" src="https://www.launchbit.com/taz-pixel/9533-5276-111/" border="0" height="1" width="1"></span></div>
        <script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/19624/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script>
    </div>
</div>
<p class="text-muted text-center hidden-xs">Ads cover the costs of maintaining Bootsnipp</p>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Categories <small>(and count of resources)</small></h3>
		</div>
	</div>
	<div class="row">
		<ul class="nav nav-pills nav-stacked resource-list">
						<li class="col-md-4"><a href="#1">Official Bootstrap resources <span class="badge pull-right">4</span></a></li>
						<li class="col-md-4"><a href="#2">Templates <span class="badge pull-right">95</span></a></li>
						<li class="col-md-4"><a href="#3">Resources <span class="badge pull-right">60</span></a></li>
						<li class="col-md-4"><a href="#4">Icon fonts <span class="badge pull-right">15</span></a></li>
						<li class="col-md-4"><a href="#5">Date and Range pickers <span class="badge pull-right">10</span></a></li>
						<li class="col-md-4"><a href="#6">Modal extensions <span class="badge pull-right">14</span></a></li>
						<li class="col-md-4"><a href="#7">Javascript extensions <span class="badge pull-right">71</span></a></li>
						<li class="col-md-4"><a href="#8">Colorizers and UI improvements <span class="badge pull-right">74</span></a></li>
						<li class="col-md-4"><a href="#9">Prototyping <span class="badge pull-right">46</span></a></li>
						<li class="col-md-4"><a href="#10">Forms <span class="badge pull-right">50</span></a></li>
						<li class="col-md-4"><a href="#11">Uncategorized <span class="badge pull-right">22</span></a></li>
		</ul>
	</div>
		<hr id="1">
	<br>
	<div class="row">
		<div class="col-md-10">
			<h2>Official Bootstrap resources <small>Official resources for Bootstrap</small></h2>
		</div>
		<div class="col-md-2">
			<h2>
				<a href="#listroot" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-up"></span> To top</a>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<table class="table table-striped table-bordered">
			<thead>
			  <tr>
			    <th class="col-md-2">Title</th>
			    <th class="col-md-5">Description</th>
			    <th class="col-md-4 hidden-xs">URL</th>
			    <th class="col-md-1">View</th>
			  </tr>
			</thead>
			<tbody>
		  				  					<tr>
					<td>
												Bootstrap itself
					</td>
					<td>
						Twitter Bootstrap Framework
					</td>
					<td style="overflow:auto;" class="hidden-xs">
						<a href="http://getbootstrap.com" target="_blank" title="Bootstrap itself">http://getbootstrap.com</a>
					</td>
					<td>
						<a class="btn btn-block btn-info" href="http://getbootstrap.com" target="_blank">Go</a>
					</td>
				</tr>
			    		   				  					<tr>
					<td>
												Bootstrap SASS
					</td>
					<td>
						Official port of Bootstrap to SASS ready to drop right into your Sass powered applications.
					</td>
					<td style="overflow:auto;" class="hidden-xs">
						<a href="https://github.com/twbs/bootstrap-sass" target="_blank" title="Bootstrap SASS">https://github.com/twbs/bootst...</a>
					</td>
					<td>
						<a class="btn btn-block btn-info" href="https://github.com/twbs/bootstrap-sass" target="_blank">Go</a>
					</td>
				</tr>
			    		   				  			   				  			   			    </tbody>
		</table>
		</div>
	</div>
		<hr id="2">


{% endblock %}